@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../src/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }

  h1 {
    @apply text-7xl text-jet-black leading-[4.6875rem];
  }

  h2 {
    @apply text-6xl text-jet-black leading-[3.875rem];
  }

  h3 {
    @apply text-5xl text-jet-black leading-[3.85rem];
  }

  h4 {
    @apply text-2xl text-jet-black leading-[1.813rem];
  }

  p {
    @apply text-slate-gray;
  }
}

.text_small {
  font-size: 1rem;
  /*16px*/
  line-height: 1.375rem;
  /*22px*/
}

.text_regular {
  font-size: 1.125rem;
  /*18px*/
  line-height: 1.575rem;
  /*25.2*/
}

.text_medium {
  font-size: 1.25rem;
  /*20px*/
  line-height: 1.75rem;
  /*28px*/
}

.text_large {
  font-size: 1.375rem;
  /*22px*/
  line-height: 1.813rem;
  /*29px*/
}

.bg_lifestreams {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70.31%, #FFFFFF 100%), #F0ECFF;
}

.bg_video_calls {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 83.85%, #FFFFFF 100%), #FFF9E8;
}

/* Slide */

.slick-list {
  overflow: hidden;
  padding: 12px 0;
}

.slick-track {
  display: flex;
}

.slider {
  position: relative;
  padding: 0px 70px 50px;
  margin: auto;
}

.slider_item {
  z-index: 10;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 50px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  top: 100px;
  background: url('../src/img/prev.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  top: 100px;
  background: url('../src/img/next.png') 0 0 / 100% no-repeat;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 5px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background-color: #FFD338;
  border-radius: 50%;
}


.slider .slick-dots li.slick-active button {
  opacity: 1;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.3;
}